@model IEnumerable<dbBlowOut.Models.Client>

@{
    ViewBag.Title = "Existing";
}

<h2>Existing</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.ActionLink("Select Client", "Assign", new { clientid = item.clientID, instid = ViewBag.Select })
        </td>
    </tr>
}

</table>
